## ライブラリのインポート

In [1]:
import pandas as pd

## DataFrameの作成

In [2]:
# list型から作成
data_list = [
    [0, 1, 2, 3],
    [4, 5, 6, 7],
    [8, 9, 10, 11]
]

df = pd.DataFrame(
    data_list,
    columns=['A', 'B', 'C', 'D'],
    index=['a', 'b', 'c']
)

df

   A  B   C   D
a  0  1   2   3
b  4  5   6   7
c  8  9  10  11

In [3]:
type(data_list)

list

In [4]:
type(df)

pandas.core.frame.DataFrame

In [5]:
df.index

Index(['a', 'b', 'c'], dtype='object')

In [6]:
df.columns

Index(['A', 'B', 'C', 'D'], dtype='object')

In [7]:
df.shape

(3, 4)

In [8]:
# dictionary型から作成
data_dict={
    'A': [0, 4, 8],
    'B': [1, 5, 9],
    'C': [2, 6, 10],
    'D': [3, 7, 11]
}

df = pd.DataFrame(
    data_dict,
    index=['a', 'b', 'c']
)

df

   A  B   C   D
a  0  1   2   3
b  4  5   6   7
c  8  9  10  11

## 行名と列名での絞り込み

In [9]:
df

   A  B   C   D
a  0  1   2   3
b  4  5   6   7
c  8  9  10  11

In [10]:
# 値
df.loc['b', 'C']

6

In [11]:
# 値
df.loc['b']['C']

6

In [12]:
# Series
df.loc['b']

A    4
B    5
C    6
D    7
Name: b, dtype: int64

In [13]:
# DataFrame
df.loc[['b']]

   A  B  C  D
b  4  5  6  7

In [14]:
# DataFrame
df.loc[['a', 'b']]

   A  B  C  D
a  0  1  2  3
b  4  5  6  7

In [15]:
# Series
df['C']

a     2
b     6
c    10
Name: C, dtype: int64

In [16]:
# DataFrame
df[['C']]

    C
a   2
b   6
c  10

In [17]:
# DataFrame
df[['B', 'C']]

   B   C
a  1   2
b  5   6
c  9  10

In [18]:
# DataFrame
df.loc[['a', 'b'], ['B', 'C']]

   B  C
a  1  2
b  5  6

In [19]:
# DataFrame
df.loc[['a', 'b']][['B', 'C']]

   B  C
a  1  2
b  5  6

## 値で行の絞り込み

In [20]:
# Seriesでフィルター
df['C']>5

a    False
b     True
c     True
Name: C, dtype: bool

In [21]:
# フィルターで条件絞り込み
df[df['C']>5]

   A  B   C   D
b  4  5   6   7
c  8  9  10  11

## 行番号と列番号での絞り込み

In [22]:
df

   A  B   C   D
a  0  1   2   3
b  4  5   6   7
c  8  9  10  11

In [23]:
# 値
df.iloc[1, 2]

6

In [24]:
# Series
df.iloc[1]

A    4
B    5
C    6
D    7
Name: b, dtype: int64

In [25]:
# Series
df.iloc[:, 2]

a     2
b     6
c    10
Name: C, dtype: int64

In [26]:
# DataFrame
df.iloc[[0, 1], [1, 2]]

   B  C
a  1  2
b  5  6